

{% block content %}
<div class="container mt-9 relative left-[6%]" id="products">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 max-w-screen-xl mx-auto">
        {% for product in products %}
        <div class="bg-white shadow-lg rounded-2xl p-4 transform hover:scale-105 transition-transform duration-200 w-[300px] h-[400px] flex flex-col justify-between">
            <!-- Product Image -->
            <img class="w-full h-48 object-cover rounded-t-lg" src="{{ product.image.url }}" alt="{{ product.name }}">
            
            <!-- Product Info -->
            <div class="mt-1 flex-grow">
                <h2 class="text-base font-semibold">{{ product.name }}</h2>
                <p class="text-sm text-gray-600 mt-1">{{ product.description }}</p>
                <p class="text-orange-500 font-bold mt-1 text-base">Price: ksh {{ product.price }}</p>
            </div>
            
            <!-- Add to Cart Button -->
            <a href="{% url 'add_to_cart' product.id %}" class="bg-green-500 text-white px-4 py-2 rounded">Add to Cart</a>
        </div>
        {% empty %}
        <p class="text-center">No products available</p>
        {% endfor %}
    </div>
</div>
{% endblock %}